.body button {
  border: 1px solid;
  padding: 10.5px 16px;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  background-color: white;
}
.span {
  margin-right: 14px;
  width: 8px;
  height: 12px;
}
