.content {
  padding: 80px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 80px 0px;
}
.language {
  font-size: 24px;
  font-weight: 300;
}
.img {
  width: 1280px;
  height: 720px;
  object-fit: cover;
}
