.profile{
    margin-bottom: 80px;
}
.profileTitle{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.profileSubTitle{
    font-size: 16px;
    font-weight: 400;
}
.profileTitles{
    margin: 40px 0 40px 0;

}
.socials{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.experienceTitle{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
