.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials {
  display: flex;
  gap: 20px;
}
.home span {
  font-size: 24px;
  font-weight: 700;
  font-style: none;
  color: black;
}
.home .link {
  text-decoration: none;
}
.body {
  padding: 40px 80px;
}
