.card{
    width: 320px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.titleName{
    font-size: 16px;
    font-weight: 700;
}

.year{
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

.descriptionContent{
    font-size: 16px;
    font-weight: 400;
}